<div class="grid nested-grid">
    <div class="h-full p-5 w-7 ml-8">
        <app-full-calendar (newItemEvent)="getDate($event)"></app-full-calendar>
    </div>
    <div class="flex h-full p-8 w-3 flex-row">
            <div class="form">
                @if(absenceForm){
                    <form [formGroup]="absenceForm">
                        <h6 class="text-xl text-center">Request an absence</h6>
                        <div class="grid nested-grid">
        
                            <label for="startDate" class="form-label fw-bold col-12">Date Range</label>
                            <input type="date" readonly pInputText formControlName="startDate"
                                class="form-control col-5  text-base text-color mt-2 surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"
                                id="startDate" [ngClass]="{
                            'ng-invalid':absenceForm.controls['startDate'].invalid && absenceForm.controls['startDate'].dirty,
                            'is-valid':absenceForm.controls['startDate'].valid
                          }">
        
                            <span class="align-content-center ml-2">-</span>
        
                            <input type="date" readonly pInputText formControlName="endDate"
                                class="form-control col-5  mt-2 ml-2 text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"
                                id="endDate" [ngClass]="{
                            'ng-invalid':absenceForm.controls['endDate'].invalid && absenceForm.controls['endDate'].dirty,
                            'is-valid':absenceForm.controls['endDate'].valid
                          }">
                            <span *ngIf="absenceForm.controls['endDate'].invalid && absenceForm.controls['description'].dirty"
                                class="text-danger">Date range is required</span>
        
                            <label for="description" class="form-label fw-bold col-12 mt-3">Description</label>
                            <textarea [autoResize]="true" pInputTextarea  type="text" pInputTextArea formControlName="description"
                                class="form-control col-5  text-base text-color mt-2 w-full surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"
                                id="description" [ngClass]="{
                                'ng-invalid':absenceForm.controls['description'].invalid && absenceForm.controls['description'].dirty,
                                'is-valid':absenceForm.controls['description'].valid
                            }">
                            </textarea>
                        </div>
                        <div class="mt-3 mb-3">
                            <p-button (click)="sendRequest()" class="btn btn-primary" [disabled]="absenceForm.invalid">
                                <i class="icons8-f-plus-math"></i>
                                Send a request
                            </p-button>
                        </div>
                    </form>
                    }
            <div class="request-list h-30rem">
                @if(user?.employeeID){
                <app-absence-request-list></app-absence-request-list>
                }
            </div>
        </div>
    </div>
</div>