<div class="container text-center justify-content-right">
  <p-toast />
  <p-confirmDialog />
  <p-card header="{{employee?.firstName}} {{employee?.lastName}}" subheader="{{employee?.positionName}}">
    <ng-template pTemplate="header">
      <div class="avatar">
        @if(employee?.photo){
          <img alt="Card" [src]="employee?.photo?.uri" class="employee-photo"/>
        }
        @else {
          <p-avatar icon="pi pi-user"/>
        }
      </div>
    </ng-template>
      <div class="row">
        <div class="col">

          <p class="font-normal">
            Email: {{employee?.email}}
          </p>

          <p class="font-light">
            {{employee?.street}}, {{employee?.city}}, {{employee?.postalCode}}, {{employee?.country}}
          </p>

          <p class="font-light">
            Phone: {{employee?.phone}}
          </p>

      </div>
      </div>
    <ng-template pTemplate="footer">
      <p-button severity="info" label="Details" icon="pi pi-id-card" [rounded]="true" severity="info" [outlined]="true" [routerLink]=" employee?.employeeID ? ['/employee/',employee?.employeeID] : ''" ></p-button>
      <p-button icon="pi pi-trash" label="" [rounded]="true" severity="danger" [outlined]="true" [style]="{ 'margin-left': '.5em' }" (onClick)="confirmDialog()"></p-button>
    </ng-template>
  </p-card>
</div>


