.container {
    padding: 3vh;
    
  }
  
  ::ng-deep tr.employee-row:hover{
    color: rgba(255, 255, 255, 0.87);
    background: rgba(255, 255, 255, 0.03);
  }
  
  
  ::ng-deep p-table{
    width: 100vh;
  }