<div class="container my-5 flex justify-content-center flex-wrap">
    <div class="card bg-secondary w-5 p-5">
        <div class="card-body">
            @if (employeeForm) {
                <form [formGroup]="employeeForm">
                    <h6 class="form-heading text-center">Employee Information</h6>
                    <!-- First Name -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="firstName" class="form-label fw-bold">First name <sub
                                class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="firstName" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="firstName" [ngClass]="{
                        'is-invalid':employeeForm.controls['firstName'].invalid && employeeForm.controls['firstName'].dirty,
                        'is-valid':employeeForm.controls['firstName'].valid
                      }">
                        <span *ngIf="employeeForm.controls['firstName'].invalid && employeeForm.controls['firstName'].dirty"
                            class="text-danger">First name is required</span>
                        </div>
                    </div>
                    <!-- Last Name -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="lastName" class="form-label fw-bold">Last name <sub class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="lastName" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="lastName" [ngClass]="{
                        'is-invalid':employeeForm.controls['lastName'].invalid && employeeForm.controls['lastName'].dirty,
                        'is-valid':employeeForm.controls['lastName'].valid
                      }">
                        <span *ngIf="employeeForm.controls['lastName'].invalid && employeeForm.controls['lastName'].dirty"
                            class="text-danger">Last name is required</span>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="email" class="form-label fw-bold">Email <sub class="text-danger">*</sub></label>
                        <input type="email" pInputText formControlName="email" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="email" [ngClass]="{
                            'is-invalid': employeeForm.controls['email'].invalid && employeeForm.controls['email'].dirty,
                            'is-valid': employeeForm.controls['email'].valid
                        }">
                        <span *ngIf="employeeForm.controls['email'].hasError('required') && employeeForm.controls['email'].dirty"
                            class="text-danger">Email is required</span>
                        <span
                            *ngIf="employeeForm.controls['email'].hasError('email') && !employeeForm.controls['email'].hasError('required')"
                            class="text-danger">Email format is incorrect</span>
                        </div>
                    </div>
                    <!-- Phone Number -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="phone" class="form-label fw-bold ">Phone number <sub class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="phone" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="phone" [ngClass]="{
                        'is-invalid':employeeForm.controls['phone'].invalid && employeeForm.controls['phone'].dirty,
                        'is-valid':employeeForm.controls['phone'].valid
                      }">
                        <span *ngIf="employeeForm.controls['phone'].invalid && employeeForm.controls['phone'].dirty"
                            class="text-danger">Phone number is required</span>
                        </div>
                    </div>
                    <!-- Country -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="country" class="form-label fw-bold">Country<sub class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="country" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="country" [ngClass]="{
                        'is-invalid':employeeForm.controls['country'].invalid && employeeForm.controls['country'].dirty,
                        'is-valid':employeeForm.controls['country'].valid
                      }">
                        <span *ngIf="employeeForm.controls['country'].invalid && employeeForm.controls['country'].dirty"
                            class="text-danger">Country is required</span>
                        </div>
                    </div>
                    <!-- City -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="city" class="form-label fw-bold">City<sub class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="city" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="city" [ngClass]="{
                        'is-invalid':employeeForm.controls['city'].invalid && employeeForm.controls['city'].dirty,
                        'is-valid':employeeForm.controls['city'].valid
                      }">
                        <span *ngIf="employeeForm.controls['city'].invalid && employeeForm.controls['city'].dirty"
                            class="text-danger">City is required</span>
                        </div>
                    </div>
                    <!-- Street -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="street" class="form-label fw-bold">Street<sub class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="street" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="street" [ngClass]="{
                        'is-invalid':employeeForm.controls['street'].invalid && employeeForm.controls['street'].dirty,
                        'is-valid':employeeForm.controls['street'].valid
                      }">
                        <span *ngIf="employeeForm.controls['street'].invalid && employeeForm.controls['street'].dirty"
                            class="text-danger">Street is required</span>
                        </div>
                    </div>
                    <!-- Postal Code -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="postalCode" class="form-label fw-bold">Postal code<sub class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="postalCode" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="postalCode" [ngClass]="{
                        'is-invalid':employeeForm.controls['postalCode'].invalid && employeeForm.controls['postalCode'].dirty,
                        'is-valid':employeeForm.controls['postalCode'].valid
                      }">
                        <span *ngIf="employeeForm.controls['postalCode'].invalid && employeeForm.controls['postalCode'].dirty"
                            class="text-danger">Postal code is required</span>
                        </div>
                    </div>
                    <!-- Date of employment -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="dateOfEmployment" class="form-label fw-bold">Date of employment <sub
                                class="text-danger">*</sub></label>
                        <input type="date" formControlName="dateOfEmployment" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" id="dateOfEmployment" [ngClass]="{
                        'is-invalid':employeeForm.controls['dateOfEmployment'].invalid && employeeForm.controls['dateOfEmployment'].dirty,
                        'is-valid':employeeForm.controls['dateOfEmployment'].valid
                      }">
                        <span *ngIf="employeeForm.controls['dateOfEmployment'].invalid && employeeForm.controls['dateOfEmployment'].dirty"
                            class="text-danger">Date of employment is required</span>
                        </div>
                    </div>

                    <div class="mb-3 field-grid">
                        <div class="field col">
                            <label for="positionID" class="form-label fw-bold">Position <sub class="text-danger">*</sub></label>
                        <div class="input-group">
                            <p-dropdown [options]="positions" optionLabel="positionName" optionValue="positionID" placeholder="Select a position" formControlName="positionID" class="form-select" id="positionID" [ngClass]="{
                          'is-invalid':employeeForm.controls['positionID'].invalid && employeeForm.controls['positionID'].dirty,
                          'is-valid':employeeForm.controls['positionID'].valid
                        }">
                            </p-dropdown>
                            <!-- <span (click)="clearRole()" class="input-group-text">
                                <i class="icons8-f-close"></i>
                            </span> -->
                        </div>
                        </div>
                        <span *ngIf="employeeForm.controls['positionID'].invalid && employeeForm.controls['positionID'].dirty"
                            class="text-danger">
                            Position is required
                        </span>
                    </div>
            
                    <span>
                        First Name: {{employeeForm.controls['firstName'].value}}, 
                        Last Name: {{employeeForm.controls['lastName'].value}}, 
                        Email: {{employeeForm.controls['email'].value}}, 
                        Phone: {{employeeForm.controls['phone'].value}}, 
                        Country: {{employeeForm.controls['country'].value}}, 
                        City: {{employeeForm.controls['city'].value}}, 
                        Street: {{employeeForm.controls['street'].value}}, 
                        Postal Code: {{employeeForm.controls['postalCode'].value}}, 
                        Date of Employment: {{employeeForm.controls['dateOfEmployment'].value}}, 
                        Position: {{employeeForm.controls['positionID'].value}}, 
                        Team: {{employeeForm.controls['teamID'].value}}
                      </span>
                      

                    <!--Avatar-->
                    <div class="label mb" style="color: #555d71">
                        <label for="avatar" class="form-label fw-bold">Avatar</label>
                        <div class="description d-flex align-items-center gap-2">
                            <i class="icons8-f-info" style="font-size: 1.25rem"></i>
                            <span> Only JPG, PNG and GIF files are allowed.</span>
                        </div>
                    </div>
            
                    <p-fileUpload 
                    name="demo[]" 
                    url="https://www.primefaces.org/cdn/api/upload.php" 
                    (onUpload)="uploadAvatar($event)" 
                    [multiple]="false" 
                    accept="image/*" 
                    [maxFileSize]="1000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFile">
                                <li>
                                    {{ uploadedFile.name }} - {{ uploadedFile.size }} bytes 
                                </li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                    <img *ngIf="selectedImage" [src]="selectedImage" alt="Avatar" class="mt-3 fixed-image">
            
                    <div class="mt-3 mb-3">
                        <p-button *ngIf="!employeeId" (click)="saveEmployee()" class="btn btn-primary" [disabled]="employeeForm.invalid">
                            <i class="icons8-f-plus-math"></i>
                            Add
                        </p-button>
                    </div>
                    <div class="mb-3">
                        <p-button *ngIf="employeeId" (click)="editUser()" class="btn btn-warning">
                            <i class="icons8-f-edit"></i>
                            Edit
                        </p-button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
