<!-- <p-tabView>
  <p-tabPanel header="Header I"> -->

<div class="grid p-3">
  <div class="col-4">
    <h3>Pending: </h3>
    <div class="image flex justify-content-center pt-6 pb-2">
      <img class="w-3" alt="Card" src="../../../assets/icons/pending.png" />
    </div>
    <div class="cards h-30rem mt-3" dragHandle=".p-panel-header" pDroppable (onDrop)="dropOnPending()">
      @for (item of pendingAbsences; track $index) {
      @if(item.firstName){
      <p-panel [header]="item.firstName+' '+item.lastName +' | '+ item.teamName">
        <p-card class="cursor-pointer" (click)="showTeamCalendar($event, item.teamId)"
          [header]="(item.startDate | date) +' - '+(item.endDate | date)" subheader="Absence Request" pDraggable
          (onDragStart)="dragStart(item)" (onDragEnd)="dragEnd()">
          <ng-template pTemplate="header">
          </ng-template>
          <ng-template pTemplate="content">
            <p-tag [value]="item.status"></p-tag>
            <p>
              {{item.description}}
            </p>
            <div class="flex justify-content-end align-content-end">
              <p-button label="Accept" icon="pi pi-check" severity="success"
                (onClick)="changeAbsenceStatus(item.absenceId, 'Approved')"></p-button>
              <p-button label="Reject" icon="pi pi-times" severity="danger" class="ml-2"
                (onClick)="changeAbsenceStatus(item.absenceId, 'Rejected')"></p-button>
            </div>
          </ng-template>
          <p-confirmPopup />
        </p-card>
      </p-panel>
      }
      }
      @if(pendingAbsences.length===0) {
      <div class="empty-message h-5rem flex align-items-center justify-content-center">
        No results found
      </div>
      }
    </div>
  </div>
  <div class="col-4">
    <h3>Approved:</h3>
    <div class="image flex justify-content-center pt-6 pb-2">
      <img class="w-3" alt="Card" src="../../../assets/icons/check.png" />
    </div>
    <div class="cards h-30rem mt-3" dragHandle=".p-panel-header" pDroppable (onDrop)="dropOnApprove()">
      @for (item of approvedAbsences; track $index) {
      @if(item.firstName){
      <p-panel [header]="item.firstName+' '+item.lastName+' | '+ item.teamName">
        <p-card class="cursor-pointer" [header]="(item.startDate | date) +' - '+(item.endDate | date)"
          subheader="Absence Request" pDraggable (onDragStart)="dragStart(item)" (onDragEnd)="dragEnd()">
          <p-tag [value]="item.status" severity="success"></p-tag>
          <ng-template pTemplate="header">
          </ng-template>
          <p>
            {{item.description}}
          </p>
        </p-card>
      </p-panel>
      }
      }
      @if(approvedAbsences.length==0){
      <div class="empty-message h-5rem flex align-items-center justify-content-center">
        No results found
      </div>
      }
    </div>
  </div>
  <div class="col-4">
    <h3>Rejected:</h3>
    <div class="image flex justify-content-center pt-6 pb-2">
      <img class="w-3" alt="Card" src="../../../assets/icons/rejected.png" />
    </div>
    <div class="cards h-30rem mt-3" dragHandle=".p-panel-header" pDroppable (onDrop)="dropOnReject()">
      @for (item of rejectedAbsences; track $index) {
      @if(item.firstName){
      <p-panel [header]="item.firstName+' '+item.lastName+' | '+ item.teamName">
        <p-card class="cursor-pointer" [header]="(item.startDate | date) +' - '+(item.endDate | date)"
          subheader="Absence Request" pDraggable (onDragStart)="dragStart(item)" (onDragEnd)="dragEnd()">
          <p-tag [value]="item.status" severity="danger"></p-tag>
          <ng-template pTemplate="header">
          </ng-template>
          <p>
            {{item.description}}
          </p>
        </p-card>
      </p-panel>
      }
      }
      @if(rejectedAbsences.length==0){
      <div class="empty-message h-5rem flex align-items-center justify-content-center">
        No results found
      </div>
      }
    </div>
  </div>
</div>
@if(calendarDialogVisible){
<app-calendar-dialog [visible]="true" [teamIdToShowOnDialog]="teamIdToShowOnDialog"></app-calendar-dialog>
}

<!-- </p-tabPanel>
  <p-tabPanel header="Header II">
<app-employee-dashboard></app-employee-dashboard>
</p-tabPanel>
</p-tabView> -->