<div class="grid p-3">
    @for (item of absencesList; track $index) {
      @if (item.firstName) {
        <div class="col ">

            <p-card  [header]="item.firstName+' '+item.lastName" subheader="Absence Request">
              <ng-template pTemplate="header">
                  <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
              </ng-template>
              <p>
                {{item.description}}
              </p>
              <ng-template pTemplate="footer">
                  <p-button label="Accept" icon="pi pi-check"></p-button>
                  <p-button label="Reject" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
              </ng-template>
          </p-card>

  </div>
    }
  }
</div>

