<div class="container my-5 flex justify-content-center flex-wrap">
    <p-toast />
    <div class="card bg-secondary w-5 p-5">
        <div class="card-body">
            @if(accountEmployeeForm){
                <form [formGroup]="accountEmployeeForm">
                    <h6 class="form-heading text-center">Account Information</h6>
                    <div class="mb-3 field-grid">
                        <div class="field col">
                            <label for="accountType" class="form-label fw-bold">Account Type <sub class="text-danger">*</sub></label>
                        <div class="input-group">
                            <p-dropdown [options]="roles" formControlName="accountType" placeholder="Select a role" class="form-select" id="accountType" [ngClass]="{
                          'ng-invalid':accountEmployeeForm.controls['accountType'].invalid && accountEmployeeForm.controls['accountType'].dirty,
                          'is-valid':accountEmployeeForm.controls['accountType'].valid
                        }">
                            </p-dropdown>
                            <span (click)="clearRole()" class="input-group-text">
                                <i class="icons8-f-close"></i>
                            </span>
                        </div>
                        </div>
                        <span *ngIf="accountEmployeeForm.controls['accountType'].invalid && accountEmployeeForm.controls['accountType'].dirty"
                            class="text-danger">
                            Role is required
                        </span>
                    </div>
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="username" class="form-label fw-bold">Username <sub class="text-danger">*</sub></label>
                        <input type="text" pInputText [(ngModel)]="typedUsername" (keyup)="checkUsername()" formControlName="username"
                            class="form-control p-2 w-full" id="username" [ngClass]="{
                                   'ng-invalid': accountEmployeeForm.controls['username'].invalid && (accountEmployeeForm.controls['username'].dirty || accountEmployeeForm.controls['username'].touched),
                                   'is-valid': accountEmployeeForm.controls['username'].valid
                               }">
                        <span
                            *ngIf="accountEmployeeForm.controls['username'].hasError('required') && (accountEmployeeForm.controls['username'].dirty || accountEmployeeForm.controls['username'].touched)"
                            class="text-danger">Username is required</span>
                        <span *ngIf="accountEmployeeForm.controls['username'].hasError('usernameExists')" class="text-danger">
                            Username already exists
                        </span>
                        </div>
                    </div>
                    <div class="mb-3 field-grid"> 
                        <div class="field col">
                        <label for="password" class="form-label fw-bold">Password <sub class="text-danger">*</sub></label>
                        <input type="password" pInputText formControlName="password" class="form-control p-2 w-full" id="password" [ngClass]="{
                                'ng-invalid': accountEmployeeForm.controls['password'].invalid && accountEmployeeForm.controls['password'].dirty
                            }"
                            [readonly]="loggedUser?.accountType == 'HR' && loggedUser?.employeeID?.toString() != employeeId && accountId" />
                        <ng-container *ngIf="accountEmployeeForm.controls['password'].invalid && accountEmployeeForm.controls['password'].dirty">
                            <div *ngIf="accountEmployeeForm.controls['password'].hasError('required')" class="text-danger">
                                {{ passwordErrorMessages.required }}
                            </div>
                            <ng-container *ngIf="!accountEmployeeForm.controls['password'].hasError('required')">
                                <div class="text-danger">
                                    Your password should meet the minimum requirements:
                                </div>
                                <ul>
                                    <li *ngIf="accountEmployeeForm.controls['password'].hasError('length')" class="text-danger">
                                        {{ passwordErrorMessages.length }}
                                    </li>
                                    <li *ngIf="accountEmployeeForm.controls['password'].hasError('lowercase')" class="text-danger">
                                        {{ passwordErrorMessages.lowercase }}
                                    </li>
                                    <li *ngIf="accountEmployeeForm.controls['password'].hasError('uppercase')" class="text-danger">
                                        {{ passwordErrorMessages.uppercase }}
                                    </li>
                                    <li *ngIf="accountEmployeeForm.controls['password'].hasError('digit')" class="text-danger">
                                        {{ passwordErrorMessages.digit }}
                                    </li>
                                    <li *ngIf="accountEmployeeForm.controls['password'].hasError('symbol')" class="text-danger">
                                        {{ passwordErrorMessages.symbol }}
                                    </li>
                                </ul>
                            </ng-container>
                        </ng-container>
                        </div>
                    </div>
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="firstName" class="form-label fw-bold">First name <sub
                                class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="firstName" class="form-control p-2 w-full" id="firstName" [ngClass]="{
                        'ng-invalid':accountEmployeeForm.controls['firstName'].invalid && accountEmployeeForm.controls['firstName'].dirty,
                        'is-valid':accountEmployeeForm.controls['firstName'].valid
                      }">
                        <span *ngIf="accountEmployeeForm.controls['firstName'].invalid && accountEmployeeForm.controls['firstName'].dirty"
                            class="text-danger">First name is required</span>
                        </div>
                    </div>
                    <!-- Last Name -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="lastName" class="form-label fw-bold">Last name <sub class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="lastName" class="form-control p-2 w-full" id="lastName" [ngClass]="{
                        'ng-invalid':accountEmployeeForm.controls['lastName'].invalid && accountEmployeeForm.controls['lastName'].dirty,
                        'is-valid':accountEmployeeForm.controls['lastName'].valid
                      }">
                        <span *ngIf="accountEmployeeForm.controls['lastName'].invalid && accountEmployeeForm.controls['lastName'].dirty"
                            class="text-danger">Last name is required</span>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="email" class="form-label fw-bold">Email <sub class="text-danger">*</sub></label>
                        <input type="email" pInputText formControlName="email" class="form-control p-2 w-full" id="email" [ngClass]="{
                            'ng-invalid': accountEmployeeForm.controls['email'].invalid && accountEmployeeForm.controls['email'].dirty,
                            'is-valid': accountEmployeeForm.controls['email'].valid
                        }">
                        <span *ngIf="accountEmployeeForm.controls['email'].hasError('required') && accountEmployeeForm.controls['email'].dirty"
                            class="text-danger">Email is required</span>
                        <span
                            *ngIf="accountEmployeeForm.controls['email'].hasError('email') && !accountEmployeeForm.controls['email'].hasError('required')"
                            class="text-danger">Email format is incorrect</span>
                        </div>
                    </div>
                    <!-- Phone Number -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="phone" class="form-label fw-bold ">Phone number <sub class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="phone" class="form-control p-2 w-full" id="phone" [ngClass]="{
                        'ng-invalid':accountEmployeeForm.controls['phone'].invalid && accountEmployeeForm.controls['phone'].dirty,
                        'is-valid':accountEmployeeForm.controls['phone'].valid
                      }">
                        <span *ngIf="accountEmployeeForm.controls['phone'].invalid && accountEmployeeForm.controls['phone'].dirty"
                            class="text-danger">Phone number is required</span>
                        </div>
                    </div>
                    <!-- Country -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="country" class="form-label fw-bold">Country<sub class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="country" class="form-control p-2 w-full" id="country" [ngClass]="{
                        'ng-invalid':accountEmployeeForm.controls['country'].invalid && accountEmployeeForm.controls['country'].dirty,
                        'is-valid':accountEmployeeForm.controls['country'].valid
                      }">
                        <span *ngIf="accountEmployeeForm.controls['country'].invalid && accountEmployeeForm.controls['country'].dirty"
                            class="text-danger">Country is required</span>
                        </div>
                    </div>
                    <!-- City -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="city" class="form-label fw-bold">City<sub class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="city" class="form-control p-2 w-full" id="city" [ngClass]="{
                        'ng-invalid':accountEmployeeForm.controls['city'].invalid && accountEmployeeForm.controls['city'].dirty,
                        'is-valid':accountEmployeeForm.controls['city'].valid
                      }">
                        <span *ngIf="accountEmployeeForm.controls['city'].invalid && accountEmployeeForm.controls['city'].dirty"
                            class="text-danger">City is required</span>
                        </div>
                    </div>
                    <!-- Street -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="street" class="form-label fw-bold">Street<sub class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="street" class="form-control p-2 w-full" id="street" [ngClass]="{
                        'ng-invalid':accountEmployeeForm.controls['street'].invalid && accountEmployeeForm.controls['street'].dirty,
                        'is-valid':accountEmployeeForm.controls['street'].valid
                      }">
                        <span *ngIf="accountEmployeeForm.controls['street'].invalid && accountEmployeeForm.controls['street'].dirty"
                            class="text-danger">Street is required</span>
                        </div>
                    </div>
                    <!-- Postal Code -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="postalCode" class="form-label fw-bold">Postal code<sub class="text-danger">*</sub></label>
                        <input type="text" pInputText formControlName="postalCode" class="form-control p-2 w-full" id="postalCode" [ngClass]="{
                        'ng-invalid':accountEmployeeForm.controls['postalCode'].invalid && accountEmployeeForm.controls['postalCode'].dirty,
                        'is-valid':accountEmployeeForm.controls['postalCode'].valid
                      }">
                        <span *ngIf="accountEmployeeForm.controls['postalCode'].invalid && accountEmployeeForm.controls['postalCode'].dirty"
                            class="text-danger">Postal code is required</span>
                        </div>
                    </div>
                    <!-- Date of employment -->
                    <div class="mb-3 field-grid">
                        <div class="field col">
                        <label for="dateOfEmployment" class="form-label fw-bold">Date of employment <sub
                                class="text-danger">*</sub></label>
                                <div class="input-group">
                        <p-calendar [showIcon]="true" [iconDisplay]="'input'"  formControlName="dateOfEmployment" class="form-control" id="dateOfEmployment" [ngClass]="{
                        'ng-invalid':accountEmployeeForm.controls['dateOfEmployment'].invalid && accountEmployeeForm.controls['dateOfEmployment'].dirty,
                        'is-valid':accountEmployeeForm.controls['dateOfEmployment'].valid
                      }"/>
                    </div>
                        <span *ngIf="accountEmployeeForm.controls['dateOfEmployment'].invalid && accountEmployeeForm.controls['dateOfEmployment'].dirty"
                            class="text-danger">Date of employment is required</span>
                        </div>
                    </div>

                    <div class="mb-3 field-grid">
                        <div class="field col">
                            <label for="positionID" class="form-label fw-bold">Position <sub class="text-danger">*</sub></label>
                        <div class="input-group">
                            <p-dropdown [options]="positions" optionLabel="positionName" optionValue="positionID" placeholder="Select a position" formControlName="positionID" class="form-select" id="positionID" [ngClass]="{
                          'ng-invalid':accountEmployeeForm.controls['positionID'].invalid && accountEmployeeForm.controls['positionID'].dirty,
                          'is-valid':accountEmployeeForm.controls['positionID'].valid
                        }">
                            </p-dropdown>
                            <!-- <span (click)="clearRole()" class="input-group-text">
                                <i class="icons8-f-close"></i>
                            </span> -->
                        </div>
                        </div>
                        <span *ngIf="accountEmployeeForm.controls['positionID'].invalid && accountEmployeeForm.controls['positionID'].dirty"
                            class="text-danger">
                            Position is required
                        </span>
                    </div>
            
                    <span>
                        <!-- AccountType: {{accountEmployeeForm.controls['accountType'].value}},
                        Username: {{accountEmployeeForm.controls['username'].value}},
                        Password: {{accountEmployeeForm.controls['password'].value}},
                        First Name: {{accountEmployeeForm.controls['firstName'].value}}, 
                        Last Name: {{accountEmployeeForm.controls['lastName'].value}}, 
                        Email: {{accountEmployeeForm.controls['email'].value}}, 
                        Phone: {{accountEmployeeForm.controls['phone'].value}}, 
                        Country: {{accountEmployeeForm.controls['country'].value}}, 
                        City: {{accountEmployeeForm.controls['city'].value}}, 
                        Street: {{accountEmployeeForm.controls['street'].value}}, 
                        Postal Code: {{accountEmployeeForm.controls['postalCode'].value}}, 
                        Date of Employment: {{accountEmployeeForm.controls['dateOfEmployment'].value}}, 
                        Position: {{accountEmployeeForm.controls['positionID'].value}}, 
                        Team: {{accountEmployeeForm.controls['teamID'].value}} -->

                        <!-- AccountType: {{accountEmployeeForm.controls['accountType'].valid}},
                        Username: {{accountEmployeeForm.controls['username'].valid}},
                        Password: {{accountEmployeeForm.controls['password'].valid}},
                        First Name: {{accountEmployeeForm.controls['firstName'].valid}}, 
                        Last Name: {{accountEmployeeForm.controls['lastName'].valid}}, 
                        Email: {{accountEmployeeForm.controls['email'].valid}}, 
                        Phone: {{accountEmployeeForm.controls['phone'].valid}}, 
                        Country: {{accountEmployeeForm.controls['country'].valid}}, 
                        City: {{accountEmployeeForm.controls['city'].valid}}, 
                        Street: {{accountEmployeeForm.controls['street'].valid}}, 
                        Postal Code: {{accountEmployeeForm.controls['postalCode'].valid}}, 
                        Date of Employment: {{accountEmployeeForm.controls['dateOfEmployment'].valid}}, 
                        Position: {{accountEmployeeForm.controls['positionID'].valid}}, 
                        Team: {{accountEmployeeForm.controls['teamID'].value}} -->
                      </span>
                      

                    <!--Avatar-->
                    <!-- <div class="label mb" style="color: #555d71">
                        <label for="avatar" class="form-label fw-bold">Avatar</label>
                        <div class="description d-flex align-items-center gap-2">
                            <i class="icons8-f-info" style="font-size: 1.25rem"></i>
                            <span> Only JPG, PNG and GIF files are allowed.</span>
                        </div>
                    </div> -->
            
                    @if(accountId){
                    <p-fileUpload 
                    name="demo[]" 
                    url="https://www.primefaces.org/cdn/api/upload.php"
                    (onUpload)="employeeDetails?.photo ? editPhoto($event) : onUpload($event)" 
                    [multiple]="false" 
                    accept="image/*" 
                    [maxFileSize]="1000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFile">
                                <li>
                                    {{ uploadedFile.name }} - {{ uploadedFile.size }} bytes 
                                </li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                    <img *ngIf="selectedImage" [src]="selectedImage" alt="Avatar" class="mt-3 fixed-image">
                }
                    <!-- <span>
                        {{accountEmployeeForm.controls['accountType'].value}}
                        {{accountEmployeeForm.controls['username'].value}}
                        {{accountEmployeeForm.controls['password'].value}}
                      </span> -->
                      <div class="mt-3 mb-3">
                        <p-button *ngIf="!employeeId" (click)="saveUser()" class="btn btn-primary" [disabled]="accountEmployeeForm.invalid">
                            <i class="icons8-f-plus-math"></i>
                            Add
                        </p-button>
                    </div>
                    <div class="mb-3">
                        <p-button *ngIf="employeeId" (click)="editUser()" class="btn btn-warning">
                            <i class="icons8-f-edit"></i>
                            Edit
                        </p-button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
