::ng-deep .col-fixed {
  padding-right: 0;
  padding-left: 0;

}

::ng-deep .grid{
  margin-left: 0;
  margin-right: 0;
}

::ng-deep #main-col{
  padding-left: 0;
  padding-right: 0;
  height: 93vh;
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 5000;
}

.sidebar{
  position: fixed;
  height: 100vh;
  padding-top: 7vh;
  z-index: 1000;
}

.content{
  padding-left: 10vw;
  padding-top: 7vh;
  z-index: 10;
  width: 100%;
}

.toast{
  position: fixed;
  z-index: 9000;
}