@import '../../../../node_modules/angular-calendar/scss/modules/month/calendar-month-view/calendar-month-view.scss';
@import '../../../../node_modules/angular-calendar/scss/modules/week/calendar-week-view/calendar-week-view.scss';
@import '../../../../node_modules/angular-calendar/scss/modules/day/calendar-day-view/calendar-day-view.scss';
@import '../../../../node_modules/angular-calendar/scss/modules/common/calendar-tooltip/calendar-tooltip.scss';

@mixin cal-theme($overrides) {
  @include cal-month-view-theme($overrides);
  @include cal-week-view-theme($overrides);
  @include cal-tooltip-theme($overrides);
}


.dark-theme {
  $bg-dark-primary: #1f262d;
  $bg-dark-secondary: #394046;
  $bg-active: #2c343a;
  $text-color: #d5d6d7;
  $border-color: rgb(0 0 0 / 60%);

  @include cal-theme(
    (
      bg-primary: $bg-dark-primary,
      bg-secondary: $bg-dark-secondary,
      weekend-color: indianred,
      bg-active: $bg-active,
      border-color: $border-color,
      gray: $bg-dark-secondary,
      today-bg: $bg-dark-secondary,
      event-color-primary: $bg-dark-secondary,
    )
  );

  .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
    opacity: 0.15;
  }

  background-color: $bg-dark-primary;
  color: $text-color;
}
