<div class="card h-25rem">
  <div class="flex flex-column align-items-center gap-3 py-5">
    <h2>Login</h2>
    <form [formGroup]="loginForm" *ngIf="loginForm">
      <div class="form-group">
        <input pInputText type="username" class="form-control w-12rem m-2" formControlName="username"
          placeholder="Username" aria-label="Username" [ngClass]="{
                          'is-invalid':
                            loginForm.controls['username'].invalid &&
                            loginForm.controls['username'].dirty,
                          'is-valid': loginForm.controls['username'].valid
                        }" />
        <span *ngIf="
                          loginForm.controls['username'].invalid &&
                          loginForm.controls['username'].dirty
                        " class="text-danger">Username is required!</span>
      </div>
      <div class="form-group">
        <input pInputText type="{{ passwordVisible ? 'text' : 'password' }}" class="form-control w-12rem m-2 mt-4"
          formControlName="password" placeholder="Password" aria-label="Password" [ngClass]="{
                          'is-invalid':
                            loginForm.controls['password'].invalid &&
                            loginForm.controls['password'].dirty,
                          'is-valid': loginForm.controls['password'].valid
                        }" />
        <p-button [rounded]="true" [text]="true"  class="showPassword mt-2" (click)="showPassword()">
          <i [class]="passwordVisible ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
        </p-button>

        <span *ngIf="
                          loginForm.controls['password'].invalid &&
                          loginForm.controls['password'].dirty
                        " class="text-danger">Password is required!</span>
      </div>
      <div *ngIf="loginError" class="invalid-feedback d-block">
        <span>{{ loginError }}</span>
      </div>
      <div class="login flex justify-content-center mt-4">
        <p-button type="submit" label="Login" icon="pi pi-user" styleClass="w-10rem mx-auto" (onClick)="login()"
          [disabled]="loginForm.invalid"></p-button>
      </div>
    </form>
  </div>
</div>