<nav class="navbar">
  <p-overlayPanel #op [appendTo]="profile">
    <img src="https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg" alt="product" />
  </p-overlayPanel>
  <div class="container-fluid">
    <div class="logo">
      <a class="navbar-brand" routerLink="">HR Manager |
        <img src="../../../../assets/icons/logo.png">
      </a>
    </div>
    <div class="d-flex">
      <p-button (click)="op.toggle($event)" #profile>
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
      </p-button>
    </div>
  </div>
</nav>

