@import "../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
.navbar{
background-color: var(--highlight-bg);
color: var(--highlight-text-color);
border-radius: 0px;
}

img {
  width: 5%;
}


