<p-dataView #dv [value]="absences" [scrollTop]="true">
    <ng-template pTemplate="list" let-absence>
        <div class="grid grid-nogutter">
            <div *ngFor="let absence of absences; let first = first" class="col-12">
                <div class="flex flex-column p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                    <div class="md:w-10rem relative">
                        <!-- <img class="block xl:block mx-auto border-round w-full" src="../../../assets/icons/pending.png" /> -->
                        <p-tag [value]="absence.status" [severity]="absence.status=='Pending' ? 'primary' : absence.status=='Approved' ? 'success' : 'danger'" [style.left.px]="4" [style.top.px]="4" />
                    </div>
                    <div class="flex flex-row justify-content-between  flex-1 gap-4">
                        <div class="flex flex-row justify-content-between align-items-start gap-2">
                            <div class="w-full">
                                <span class="font-medium text-primary text-sm">From: </span>
                                <span class="font-medium text-secondary text-sm block">{{ absence.startDate | date}}</span>
                                <span class="font-medium text-primary text-sm">To: </span>
                                <span class="font-medium text-secondary text-sm block">{{ absence.endDate | date}}</span>
                                <div class="text-lg font-medium text-900 mt-2"></div>
                            </div>
                        </div>
                        <div class="flex flex-column align-items-end gap-5">
                            <span class="text-xl font-semibold text-900">{{ absence.description }}</span>
                            <div class="flex flex-row-reverse  gap-2">
                                <!-- <p-button icon="pi pi-heart" [outlined]="true" /> -->
                                <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" label="Cancel" severity="danger" (onClick)="confirmDialog(absence.absenceId)" [disabled]="absence.status !== 'Pending'"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
<!-- <p-toast />
<p-confirmDialog /> -->