/* @import "primeng/resources/themes/lara-dark-purple/theme.css"; */
@import "primeng/resources/themes/lara-dark-purple/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";
/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */
@import "../node_modules/angular-calendar/css/angular-calendar.css";


html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.card {
  background: var(--surface-card);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

