<p-toast />
    <p-fileUpload 
    name="demo[]" 
    url="https://www.primefaces.org/cdn/api/upload.php" 
    (onUpload)="onUpload($event)" 
    [multiple]="true" 
    accept=".jpg,.png,.pdf,.doc,.zip,.xls,.xlsx,.docx,.txt" 
    [maxFileSize]=1000000>
        <ng-template pTemplate="content">
            <p class="mt-4 mb-0 ">Drag and drop files to here to upload.</p>
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">
                    {{ file.name }} - {{ file.size }} bytes
                </li>
            </ul>
        </ng-template>
</p-fileUpload>
