::ng-deep .prime-menu-override {
      background-color: var(--gray-800);
      background-image:none;
      border:none;
      color:white;
      min-height: calc(100vh - 68px);
      border-radius: 0;
      min-width: 10vw;
}

