::ng-deep .prime-menu-override {
      background-color: var(--gray-800);
      background-image:none;
      border:none;
      color:white;
      height: 100%;
      border-radius: 0;
      min-width: 10vw;
}

